<div class="container">
    <form  
    (ngSubmit)="onSubmit()" 
    [formGroup]="form">

      <div *ngFor="let questao of questoes">

        <div [ngSwitch]="questao.controlType">

          <div
          *ngSwitchCase="'separador'" 
          class="ui-g-12 separador">
          </div>

          <div 
            *ngSwitchCase="'label'" 
            class="{{questao.class}}">
            <span>{{questao.label}}</span>
          </div>

          <div 
          *ngSwitchCase="'radio'" 
          class="ui-g-12 formatar-paragrafo">
            <div 
            *ngFor="let opc of questao.opcoes" 
            class="{{opc.class}}">
              
              <p-radioButton
              [name]="questao.name" 
              [value]="opc.label" 
              [label]="opc.label" 
              [formControlName]="questao.key" 
              required="opc.required">
              </p-radioButton>
            </div>
          </div>

          <div 
          *ngSwitchCase="'dropdown'" 
          class="ui-g-12 ui-md-6 formatar-paragrafo">
            <div class="{{questao.class}}">
              <span>{{questao.label}}</span>
            </div>

            <select *ngSwitchCase="'dropdown'" [formControlName]="questao.key" [id]="questao.key" label="Selecione" [class]="'dropdown'" required="questao.required" >
              <option value='' disabled selected="selected">Selecione uma opção </option>
              <option *ngFor="let opt of questao.opcoes" [value]="opt.label">{{opt.label}}</option>
            </select>

          </div>
        </div>
      </div>

      <div class="ui-g-12 ajuste-botoes">
        <a 
        pButton 
        type="button" 
        label="Voltar" 
        class="ui-button-secondary" 
        
        routerLink="/informacoes-recebidas">
        </a>
        
        <button 
        pButton 
        type="submit" 
        label="Salvar" 
        class="ui-button-warning"
        [disabled]="!form.valid"
        >
      </button>
      </div>
  </form>
</div>
