/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  font-size: 12px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

label {
  font-weight: bold;
}



@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1170px;
  }
}

/* Customização dos radiobuttons*/
.fa-circle:before {
  content: "\f00c";
}
.ui-label-active{
  color: red;
}
.ui-radiobutton-icon {
  font-size: 0.7em;
}
.ui-radiobutton-box.ui-state-active {
  background-color: red;
  border: #fff;
}

/*Customização dos dropdowns*/

.ui-dropdown {
  border: none;
  border-bottom: 1px solid #d6d6d6
}
.ui-dropdown .ui-dropdown-trigger {
  border-left: 0;
}

.ui-dropdown-filter-container {
  width: 100%;
}

.ui-button {
  font-size: 16px;
  padding: 0px 10px ;
}
